{% extends 'base.html.twig' %}

{% block title %}Edit Review{% endblock %}

{% block body %}
    <h1>Edit Review</h1>

    {{ include('review/_form.html.twig') }}
    {{ include('_back_to_list_btn.html.twig') }}

    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-4 col-lg-4">
            {{ include('review/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
