{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Review for <a href="{{ path('app_book_show', {'id': book.id}) }}">{{ book.title }}</a></h1>

    {{ include('review/_form.html.twig') }}

    {{ include('_back_to_list_btn.html.twig') }}
{% endblock %}
